.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1500px;
  }
  
  .filters {
    flex: 0 0 300px;
    padding: 16px;
    margin-right: 16px;
  }
  
  .shoes {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
    padding: 16px;
  }
  
  .shoe-card {
    width: 100%;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .slider {
    position: relative;
  }
  
  .card-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 300px; 
  }
  
  .slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: rgb(0, 89, 255);
    font-size: 24px;
    cursor: pointer;
  }
  
  .slider-nav:first-child {
    left: 10px;
  }
  
  .slider-nav:last-child {
    right: 10px;
  } 