<header class="header">
  <div class="search-bar">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search" [(ngModel)]="searchQuery" (ngModelChange)="onSearch()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="logo">
    <img src="assets/logo.png" alt="Image description">
  </div>

  <div class="account-cart">
      
    <a (click)="navigateToCart()">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>
</header>

<nav class="navbar">
  <ul class="nav-links">
    <li><a (click)="navigateTo('sneaker-shop')">Shop</a></li>
    <li><a (click)="navigateTo('sneaker-shop/nike-shoes')">T-Shirts</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
